main {
    width: 100%;
}

header, footer {
    background-color: #BCCE98;
    height: 50px

}

.textfield {
    width: 24%;
    display: inline-block;

}

footer {
    margin-top: 50px;
}


.nodes {
    background-color: #F7FDEB;
}

.chat {
    background-color: #DAE9BC;
}

/*button {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    width: 100px

}*/

.hidden{display:none;}
