main {
    width: 100%;
}

header, footer {
    background-color: #007fff;
    height: 50px

}

.textfield {
    width: 24%;
    display: inline-block;

}

footer {
    margin-top: 50px;
}


.nodes {
    background-color: #e9e9e9;
}

.chat {
    background-color: #f6f6f6;
}

/*button {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    width: 100px

}*/

.hidden{display:none;}
