main {
    width: 100%;
}

header, footer {
    background-color: plum;
    height: 100px;

}

.column {
    float: left;
    width: 25%;
}


.nodes {
    background-color: lavender;
}

.public_chat {
    background-color: lavenderblush;
}

.private_chat {
    background-color: mistyrose;
}

.files {
    background-color: thistle;
}

.interactive {
    background-color: pink;
}

.hidden{display:none;}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
